<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action="/madlib">
        <input type="text" name="name">Please enter a name.
        <br>
        Please pick a color.
        <input type="color" name="color" value="color">
        <br>
        Pick a time. 
        <input type="time" name="time" value="time">
        <br>
        Please pick a noun.
        <input type="radio" name="noun" value="ball">Ball
        <input type="radio" name="noun" value="dog">Dog
        <input type="radio" name="noun" value="cat">Cat
        <br>
        Please pick an adjective. 
        <select name="adjective">
            <option value="big">Big</option>
            <option value="small">Small</option>
            <option value="nano">Nano</option>
            <option value="incredible">Incredible</option>
            <br>
        <input type="submit">

    </form>

</body>
</html>